#box-public-folder {
    margin: 1em 0;
}

#box-public-folder ul {
    border: 1px solid #e7e7e7;
}

#box-public-folder #box-public-folder-file-list {
	margin:0;
	padding:0;
}

#box-public-folder #box-public-folder-file-list li {
	border-bottom: 1px solid #E7E7E7;
	list-style-type:none;
}

#box-public-folder #box-public-folder-file-list li:last-child {
    border: none;
}

#box-public-folder a {
	display: inline-block;
	text-decoration: none;
	padding: 3px 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 520px;
	white-space: nowrap;
}

#box-public-folder a:hover {
    text-decoration: underline;
	color: #000;
}

#box-public-folder .chrome {
    background: #f5f5f5;
}
#box-public-folder a.feed-link {
    display: block;
    width: inherit;
    padding:3px 6px;
}

#box-public-folder .pubDate {
	display:inline-block;
	font-size:12px;
	overflow:hidden;
	text-align:right;
	white-space:nowrap;
	width: 100px;
}

#box-public-folder h1.entry-title { display:block; }

